.posts {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: scroll;
}

.post {
  border: 1px solid #ccc;
  width: 80%;

  h2 {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
  }

  &:hover {
    cursor: pointer;
    background-color: #eee;
  }

  .content {

    h1 {
      color: red;
    }
  }
}
