.posts {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.post {
  padding: 1rem;
  border: 1px solid #ccc;
  width: 80%;

  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}
